body {
    color: #000000;
}

.animated-gradient {
 background: linear-gradient(-45deg, #4f0e48, #44283f, #555f67, #00ffe5);
 background-size: 400% 400%;
 animation: gradientShift 12s ease infinite;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%;}
}

h1, h3, p {
    color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
font-size: 69px
}

h3 {
font-size: 35px
}

a {
    color: #b4f1ff;
    text-decoration: none;
    font-weight: bold;
    font-family: cursive;
    transition: color 0.2s ease, text-shadow 0.25s ease;
}

a:hover {
    color: #000000;
    text-decoration: underline;
    text-shadow:
        0 0 6px rgba(123,230,255,0.9),
        0 0 14px rgba(255,85,170,0.25);
}

.m-u-g-description {
    font-family: arial, sans-serif;
    font-weight: 100;
}

.social-links {
    color: rgb(255, 213, 244);
    font-family: cursive;
    font-weight: 1000;
    letter-spacing: 0.2px;
}

.social-links:hover {
    color: #000000;
    text-decoration: underline;
    text-shadow:
        0 0 6px rgba(255, 178, 243, 0.9),
        0 0 14px rgba(255,85,170,0.25);
}

img {
    border-radius: 50%;
    margin-bottom: 0px;
}